html{
  background: #242424
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.wrapper {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mapcontainer{
  height: 50vh;
  width: 80vw;
}

table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  width: 90vw;
}

.fa-info-circle{
  margin-top: 2%;
  margin-bottom: 2%;
}
.hideDesc{
display: none;
}
.info:hover + .hideDesc {
  width: 30%;
  height:fit-content;
  position:absolute;
  display:flex;
  background-color: rgba(0, 0, 0, 0.959);
  color: rgb(255, 255, 255);
}
header{
  border:0.1px #141414 solid;
  background-color:#141414;
  align-content: center;
}
header>h1{
  color:white;
}

.logo{
  width: 35px;
  height: 35px;
}

footer{
  border-top:1px solid tomato;
  position: relative;
  background: #242424;
  height: 100%;
  width: 100%;
}
.about{
  margin-left: 20px;
  float: left;
  width: 40%;
  font-size: 15px;
}
.social{
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 40%;
}
.test{

margin-right: 20px;
text-align: right;
float:right;
width: 40%;
font-size: 15px;
}
.test h1
{
color:#fff;
font-size:25px;
letter-spacing:2px;
}

.text-justify-test{
text-align: center,right;
text-justify: inter-word;
}

a {
color: rgb(255, 94, 0);
}

.about h1
{
text-align: left;
top:0;
color:#fff;
font-size:25px;

letter-spacing:2px;
}

.text-justify{
text-align: justify;
text-justify: inter-word;
}

.social h1{
margin-top: 0 ;
color: white;
font-size: 20px;
}

.social-icons
{
text-align:center;
}

.fa-github{
font-size: 35px;
}


@media only screen and (max-width: 960px){
  header{
    border:0.1px #141414 solid;
    background-color:#141414;
    align-content: center;
  }
  header>h1{
    color:white;
    font-size: 25px;
  }
  .info:hover + .hideDesc {
    width: 80%;
    height:fit-content;
  }
  table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10px;
    width: 90vw;
  }
  footer{
  width: 100%;
  height: 40vh;
}

.about{
  margin-left: 0;
  float: center;
  text-align: center;
  width: 100%;
}
.about>h1{
  margin-left: 0;
  float: center;
  text-align: center;
  width: 100%;
}
.text-justify{
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.test{
margin-right: 0;
float: center;
text-align: center;
width: 100%;

}

.text-justify-test{
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
  .social{
    margin-top: 20%;
    margin-left: -5%;
  }
}
